<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="../todo/FRONTEND/index.html">todo</a><br>
    <a id="dynamic_table">dynamic table</a><br>
    <a id="delimiter_search">Delimiter search</a><br>
    <a id="combo_practice">Combo Practice</a><br>
    <a id="filter_search">Filter Searching</a><br>
    <a href="../public/html/post.html">JSON Placeholder</a><br>
    <a href="../timezone Calc/timezone.html">Timezone Calc</a><br>
    <a href="../public/html/dommanipulation.html">DOM Manipulation</a><br>
    <a id="student_management">Student Management</a><br>

    <p>HTML Projects</p>
    <a href="../views/HTML Projects/AwanHoster webpage/awanhoster.html">Awan Host Webpage</a><br>
    <a href="../views/HTML Projects/ehya webpage/ehya.html">ehya Webpage</a><br>
    <a href="../views/HTML Projects/HireX Webpage/hireX.html">Hirex Webpage</a><br>
    <a href="../views/HTML Projects/HTML Structure Practice/">HTML Structure Practice</a><br>
    <a href="../views/HTML Projects/Html tags/index.html">HTML Tags Practice</a><br>
    <a href="../views/HTML Projects/Job Application Form/job_application_form.html">Job App Form</a><br>

    <script>
        document.getElementById('dynamic_table').addEventListener('click', ()=>{
            window.location.href = "http://localhost:8000/table";
        })
        document.getElementById('combo_practice').addEventListener('click', ()=>{
            window.location.href = "http://localhost:8000/combo";
        })
        document.getElementById('filter_search').addEventListener('click', ()=>{
            window.location.href = "http://localhost:8000/filter";
        })
        document.getElementById('delimiter_search').addEventListener('click', ()=>{
            window.location.href = "http://localhost:8000/";
        })
        document.getElementById('student_management').addEventListener('click', ()=>{
            window.location.href = "http://localhost:8000/showstudents";
        })
    </script>
</body>
</html>