<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="../todo/FRONTEND/index.html">todo</a><br>
    <a id="dynamic_table">dynamic table</a><br>
    <a id="delimiter_search">Delimiter search</a>
    <a id="combo_practice">Combo Practice</a>
    <a id="filter_search">Filter Searching</a>
    <a href="../timezone Calc/timezone.html">Timezone Calc</a>
    <script>
        document.getElementById('dynamic_table').addEventListener('click', ()=>{
            window.location.href = "http://localhost:8000/table";
        })
        document.getElementById('combo_practice').addEventListener('click', ()=>{
            window.location.href = "http://localhost:8000/combo";
        })
        document.getElementById('filter_search').addEventListener('click', ()=>{
            window.location.href = "http://localhost:8000/filter";
        })
        document.getElementById('delimiter_search').addEventListener('click', ()=>{
            window.location.href = "http://localhost:8000/";
        })
    </script>
</body>
</html>